@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    color: #707070;
    font-weight: 300;
    width: 800px;
    margin: 100px auto;
}